.DS_Store
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.json
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.tfbackend
crash.log
crash.*.log
.env
.env.*
!.env.example
reports/

# Commit .terraform.lock.hcl and *.example files.
